/* Experience Section */
.experience-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #121212;
  background: radial-gradient(circle at left, rgba(242, 108, 79, 0.3) 0%, transparent 400px);
}

.experience-container {
  display: flex;
  align-items: center;
}

.lottie-container {
  margin-right: -5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45rem;
  height: 45rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.experience-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 55px;
  text-align: left;
  color: white;
  margin-bottom: 5rem;
  margin-left: 2rem;
}

.experience-card {
  text-align: left;
}

.experience-header {
  display: flex;
  align-items: center;
  margin-left: .2rem;
  margin-bottom: 1.75rem;
  margin-top: -1rem;
}

.experience-logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 8px;
}

.experience-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: transparent;
  background: linear-gradient(to right, #f87474, #FEF4F2);
  -webkit-background-clip: text;
}

.experience-list {
  position: relative;
  border-left: 1px solid #374151;
  margin-left: 16px;
  padding-left: 16px;
  list-style-type: none;
  margin-top: -1rem;
  margin-left: 1.5rem;
}

.experience-item {
  position: relative;
  margin-bottom: 16px;
}

.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #374151;
  border-radius: 50%;
  left: -21px;
  top: 8px;
}

.experience-position {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-bottom: 4px;
}

.experience-duration {
  font-size: 14px;
  color: #b0b0b0;
  margin-bottom: 8px;
}

.content-container {
  margin-bottom: 8px;
}

.content {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #b0b0b0;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .experience-container {
    flex-direction: column;
    align-items: center;
  }

  .lottie-container {
    margin-right: 0;
    margin-bottom: 2rem;
    width: 100%;
    height: 20rem;
  }

  .experience-heading {
    font-size: 40px;
    margin-left: 0;
  }

  .experience-card {
    width: 100%;
    margin-bottom: 2rem;
  }

  .experience-logo {
    width: 40px;
    height: 40px;
  }

  .experience-title {
    font-size: 18px;
  }

  .experience-position {
    font-size: 14px;
  }

  .experience-duration {
    font-size: 12px;
  }

  .content {
    font-size: 12px;
  }
}

/* Specific adjustments for 768px to 1024px (tablet devices) */
@media (min-width: 768px) and (max-width: 1024px) {
  .experience-heading {
    font-size: 45px; /* Slightly bigger font than smaller mobile */
    margin-left: 1rem;
  }

  .lottie-container {
    width: 40rem;
    height: 40rem;
  }

  .experience-logo {
    width: 45px;
    height: 45px;
  }

  .experience-title {
    font-size: 19px;
  }

  .experience-position {
    font-size: 15px;
  }

  .experience-duration {
    font-size: 13px;
  }

  .content {
    font-size: 13px;
  }
}

/* Extra small screens adjustments */
@media (max-width: 480px) {
  .experience-heading {
    font-size: 40px;
    margin-bottom: 2rem;
  }

  .lottie-container {
    width: 100%;
    height: 100%;
    margin-bottom: 1.5rem;
    padding: 0%;
  }

  .experience-title {
    font-size: 16px;
  }
}
