/* This ensures the container fills the entire screen */
.loading-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; /* Adjust background color as needed */
}

/* Define image size and animation */
.loading-image {
  width: 180px;
  height: 180px;
  animation: .5s ease-in-out infinite; /* Animates the scaling and opacity */
}