.skills-section {
  position: relative;
  padding: 2rem;
  text-align: center;
}

/* Heading Styles */
.skills-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 55px;
  color: white;
  line-height: 80px;
  margin-left: 2rem;
  text-align: left;
  position: relative;
}

/* Skills Grid */
.skills-grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* Category Card */
.card {
  margin: 0 auto;
  flex: 0 1 calc((100% - 4rem) / 3); /* Distributes space evenly for 3 columns */
  max-width: 320px; /* Set a maximum width for the columns */
  min-width: 200px; /* Ensure columns don’t shrink too much */
  text-align: center;
  position: relative;
  border-radius: 10px; /* Smooth corners for the card */
}

/* .card:hover {
  background: linear-gradient(90deg, rgba(242, 108, 79, 0.3), rgba(210, 180, 140, 0.3));
  transform: scale(1.02); /* Slightly enlarges the card 
} */

/* Category Heading */
.category-heading {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: transparent; /* Make text transparent */
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #f87474, #FEF4F2); /* Apply linear gradient */
  -webkit-background-clip: text; /* Clip the background to the text */
}

/* Skills List */
.skills-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* Individual Skill Card */
.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  width: 48px;
  height: 48px;
}

.skill-name {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: white;
}

/* Specific adjustment for Frontend & Backend Development category */
.skills-grid:nth-of-type(2) .skills-list {
  gap: 2.5rem;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .card {
    flex: 0 1 calc((100% - 3rem) / 2);
    max-width: calc((100% - 3rem) / 2);
  }

  .skills-grid {
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 1 100%;
    max-width: 100%;
  }

  .skills-grid {
    gap: 2rem;
  }
}
