.App {
  background-color: #00040f;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}


/* Optionally, you can style other sections more specifically */
