.App {
  flex-grow: 1;
  background-color: #00040f;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;  /* Push footer to the bottom if needed */
}